<h1>Listing bodies</h1>
<%= link_to 'New Body', new_body_path %>
</br></br>
<%= will_paginate @bodies %>
<table cellpadding="10">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @bodies.each do |body| %>
    <tr>
      <td><%= body.id %></td>
      <td><%= body.name %></td>
      <td><%= link_to 'Show', body, :class => 'btn' %></td>
      <td><%= link_to 'Edit', edit_body_path(body), :class => 'btn' %></td>
      <td><%= link_to 'Destroy', body, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn' %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />


