<h1>Listing Data Files</h1>
<%= link_to ' + New Data file', new_data_file_path, :class => 'btn' %>
<br/><br/>
Or Upload a File:
<%= form_tag({:action => :import_file}, :multipart => true) do %>
  <%= file_field_tag 'file' %>
  <%= submit_tag("Upload") %>
<% end %>
<%= flash[:notice] %>
<br/>
<%= will_paginate @data_files %>
<table cellpadding="10">
  <thead>
    <tr>
      <th>Path</th>
      <th>File date</th>
      <th>File type</th>
      <th>Body Id</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @data_files.each do |data_file| %>
    <tr>
      <td><%= data_file.path %></td>
      <td><%= data_file.file_date %></td>
      <td><%= data_file.file_type_id %></td>
      <td><%= data_file.body_id %></td>
      <td><%= link_to 'Show', data_file, :class => 'btn' %></td>
      <td><%= link_to 'Edit', edit_data_file_path(data_file), :class => 'btn' %></td>
      <td><%= link_to 'Destroy', data_file, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn' %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />



