<h1>Listing Events</h1>
<%= link_to 'Create New Event', new_event_path %>
<br/><br/>
Or Upload a File:
<%= form_tag({:action => :import_csv}, :multipart => true) do %>
  <%= file_field_tag 'csv' %>
  <%= submit_tag("Upload") %>
<% end %>
<%= flash[:notice] %>
<br/>
<table cellpadding="10">
  <thead>
    <tr>
      <th>Request</th>
      <th>Start SCET</th>
      <th>End SCET</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
    <tr>
      <td><%= event.request %></td>
      <td><%= event.start_scet %></td>
      <td><%= event.end_scet %></td>
      <td><%= link_to 'Show', event %></td>
      <td><%= link_to 'Edit', edit_event_path(event) %></td>
      <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />



