<p id="notice"><%= notice %></p>

<p>
  <strong>Request:</strong>
  <%= @event.request %>
</p>

<p>
  <strong>Start scet:</strong>
  <%= @event.start_scet %>
</p>

<p>
  <strong>End scet:</strong>
  <%= @event.end_scet %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
