<h1>Listing ephems</h1>
<%= link_to ' + New Ephem', new_ephem_path, :class => 'btn' %>
<br/><br/>
Or Upload a File:
<%= form_tag({:action => :import_csv}, :multipart => true) do %>
  <%= file_field_tag 'csv' %>
  <%= submit_tag("Upload") %>
<% end %>
<%= flash[:notice] %>
<% if @upload_time %>
    <p>Time to upload: <%= @upload_time %></p>
    <p>Failed rows: <%= @errors.each { |e| e.id } %>
<% end %>
<br/>
<%= will_paginate @ephems %>
<table cellpadding="10">
  <thead>
    <tr>
      <th>X</th>
      <th>Y</th>
      <th>Z</th>
      <th>Timestamp</th>
      <th>Body</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @ephems.each do |ephem| %>
    <tr>
      <td><%= ephem.x %></td>
      <td><%= ephem.y %></td>
      <td><%= ephem.z %></td>
      <td><%= ephem.timestamp %></td>
      <td><%= ephem.body_id %></td>
      <td><%= link_to 'Show', ephem, :class => 'btn' %></td>
      <td><%= link_to 'Edit', edit_ephem_path(ephem), :class => 'btn' %></td>
      <td><%= link_to 'Destroy', ephem, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn' %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />

